#tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    width: 400px;
    color: rgb(90, 94, 97);
    border: 1px solid slategray;
}

th,
td {
    padding: 0 20px;
}